@model ODOL.Models.Mahasiswa


@{
    ViewData["Title"] = "Tambah Mahasiswa";
}


<div class="col panelcontent panelcontentweb" style="font-size: 14px; height:650px">
    <div class="scrollstyle">
        <nav aria-label=" breadcrumb" style="margin-left: 20px;">
            <ol class="breadcrumb" style="padding: 0; margin: 0; background-color: #FFF;">
                <li class="breadcrumb-item text-primary">
                    <b>
                        Aplikasi Absensi dan Logbook Magang Mahasiswa
                    </b>
                </li>
                <li class="breadcrumb-item active"><b>Mahasiswa</b></li>
            </ol>
        </nav>
        <hr style="margin-top: .8em;" />
        <div class="jumbotron" style="box-shadow: none; height:auto; margin-left:20px; padding: 15px 30px;">
            @* taruh content disini*@
            <span class="text-center mb-1">
                <h4>
                    <b>
                        Tambah Data Mahasiswa
                    </b>
                </h4>
            </span>
            <hr />
            <form method="post">
                <div class="row g-3">
                    <div class="col-12 form-group">
                        <label >Perusahaan<span style="color:red;">*</span></label>
                        <select class="form-control" onchange="GetMhs()" id="ddlmhs" >
                            <option disabled selected value="">--Pilih Perusahaan--</option>
                        </select>
                    </div>
                    <div class="col-4 form-group">
                        <label asp-for="NIM">NIM</label>
                        <input type="text" disabled asp-for="NIM" class="form-control" id="NIM" placeholder="NIM">
                    </div>
                    <div class="col-4 form-group">
                        <label asp-for="NamaMahasiswa">Nama</label>
                        <input type="text" disabled name="Nama" class="form-control" id="Nama" placeholder="Nama Mahasiswa">
                    </div>
                    <div class="col-4 form-group">
                        <label asp-for="Prodi">Prodi</label>
                        <input type="text" disabled asp-for="Prodi" class="form-control" id="prodi" placeholder="Prodi">
                    </div>
                    <div class="col-12 form-group">
                        <label asp-for="IdPerusahaan">Perusahaan<span style="color:red;">*</span></label>
                        <select class="form-control" id="perusahaan" onchange="GetPeru()"  asp-for="IdPerusahaan">
                            <option disabled selected value="">--Pilih Perusahaan--</option>
                        </select>
                    </div>
                    <div class="col-4 form-group">
                        <label for="Alamat">Alamat Perusahaan</label>
                        <textarea  disabled  class="form-control" id="alamat"></textarea>
                    </div>
                    <div class="col-4 form-group">
                        <label for="cabang">Cabang</label>
                        <input type="text" disabled name="cabang" class="form-control" id="cabang" placeholder="Cabang">
                    </div>
                    <div class="col-4 form-group">
                        <label for="group">Group</label>
                        <input type="text" disabled name="group" class="form-control" id="group" placeholder="Group">
                    </div>

                </div>
                <a asp-action="index" class="btn btn-warning " style="width:10%">Kembali</a>
                <button type="submit" class="btn btn-simpan btn-primary  float-right" style="width:10%">Simpan</button>
            </form>
        </div>

        <hr class="my-4" />
        <p class="lead" style="font-size: 1.1rem;">
            Jika terdapat kesulitan tentang cara penggunaan aplikasi ini, silahkan menghubungi MIS.
            <br />
            <br />
        </p>
    </div>
</div>
