@{
    ViewData["Title"] = "Home Page";
}

<div class="col panelcontent panelcontentweb" style="font-size: 14px; height:650px">
  <div class="scrollstyle">
    <nav aria-label=" breadcrumb" style="margin-left: 20px;">
      <ol class="breadcrumb" style="padding: 0; margin: 0; background-color: #FFF;">
        <li class="breadcrumb-item text-primary"><b>
            Aplikasi Absensi dan Logbook Magang Mahasiswa</b></li>
        <li class="breadcrumb-item active"><b>Beranda</b></li>
      </ol>
    </nav>
    <hr style="margin-top: .8em;" />
    <div class="jumbotron" style="box-shadow: none; height:auto; margin-left:20px; padding: 15px 30px;">
      <div class="row mb-3">
        <div class="col-xl-3 col-md-6 mb-4 ml-3">
          <div class="card" style="width: 18rem; height:150px; padding: 17px; border-radius: 10px;  ">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col mr-2">
                  <div class="text-xs h5 font-weight-bold text-uppercase mb-1">Perusahaan</div>
                  <div class="h5 mt-3 mb-0 font-weight-bold text-muted">40</div>
                  <div class="mt-4 mb-4 text-muted text-xs">

                    <button type="button" class="btn btn-primary btn-sm">Lihat Detail <i class="fa fa-arrow-right"></i></button>
                  </div>
                </div>
                <div class="col-auto mr-4">
                  <i class="fa-solid fa-building fa-6x text-primary"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4 ml-3">
          <div class="card" style="width: 18rem; height:150px; padding: 17px; border-radius: 10px;  ">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col mr-2">
                  <div class="text-xs h5 font-weight-bold text-uppercase mb-1">Mahasiswa</div>
                  <div class="h5 mt-3 mb-0 font-weight-bold text-muted">40</div>
                  <div class="mt-4 mb-4 text-muted text-xs">

                    <button type="button" class="btn btn-primary btn-sm">Lihat Detail <i class="fa fa-arrow-right"></i></button>
                  </div>
                </div>
                <div class="col-auto mr-4">
                  <i class="fa-solid fa-user-group fa-5x text-primary"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4 ml-3">
          <div class="card" style="width: 18rem; height:150px; padding: 17px; border-radius: 10px;  ">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col mr-2">
                  <div class="text-xs h5 font-weight-bold text-uppercase mb-1">User</div>
                  <div class="h5 mt-3 mb-0 font-weight-bold text-muted">40</div>
                  <div class="mt-4 mb-4 text-muted text-xs">

                    <button type="button" class="btn btn-primary btn-sm">Lihat Detail <i class="fa fa-arrow-right"></i></button>
                  </div>
                </div>
                <div class="col-auto mr-4">
                  <i class="fa-solid fa-user-group fa-5x text-primary"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4 ml-3">
          <div class="card" style="width: 18rem; height:150px; padding: 17px; border-radius: 10px;  ">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col mr-2">
                  <div class="text-xs h5 font-weight-bold text-uppercase mb-1">Cabang</div>
                  <div class="h5 mt-3 mb-0 font-weight-bold text-muted">40</div>
                  <div class="mt-4 mb-4 text-muted text-xs">

                    <button type="button" class="btn btn-primary btn-sm">Lihat Detail <i class="fa fa-arrow-right"></i></button>
                  </div>
                </div>
                <div class="col-auto mr-4">
                  <i class="fa-solid fa-building fa-6x text-primary"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="my-4" />
    <p class="lead" style="font-size: 1.1rem;">
      Jika terdapat kesulitan tentang cara penggunaan aplikasi ini, silahkan menghubungi MIS.
      <br />
      <br />
    </p>
  </div>
</div>