
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.eot');
	src: url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.woff') format('woff'),url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.ttf') format('truetype'),url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

.glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.glyphicon-asterisk:before {
	content: "\2a";
}

.glyphicon-plus:before {
	content: "\2b";
}

.glyphicon-euro:before {
	content: "\20ac";
}

.glyphicon-minus:before {
	content: "\2212";
}

.glyphicon-cloud:before {
	content: "\2601";
}

.glyphicon-envelope:before {
	content: "\2709";
}

.glyphicon-pencil:before {
	content: "\270f";
}

.glyphicon-glass:before {
	content: "\e001";
}

.glyphicon-music:before {
	content: "\e002";
}

.glyphicon-search:before {
	content: "\e003";
}

.glyphicon-heart:before {
	content: "\e005";
}

.glyphicon-star:before {
	content: "\e006";
}

.glyphicon-star-empty:before {
	content: "\e007";
}

.glyphicon-user:before {
	content: "\e008";
}

.glyphicon-film:before {
	content: "\e009";
}

.glyphicon-th-large:before {
	content: "\e010";
}

.glyphicon-th:before {
	content: "\e011";
}

.glyphicon-th-list:before {
	content: "\e012";
}

.glyphicon-ok:before {
	content: "\e013";
}

.glyphicon-remove:before {
	content: "\e014";
}

.glyphicon-zoom-in:before {
	content: "\e015";
}

.glyphicon-zoom-out:before {
	content: "\e016";
}

.glyphicon-off:before {
	content: "\e017";
}

.glyphicon-signal:before {
	content: "\e018";
}

.glyphicon-cog:before {
	content: "\e019";
}

.glyphicon-trash:before {
	content: "\e020";
}

.glyphicon-home:before {
	content: "\e021";
}

.glyphicon-file:before {
	content: "\e022";
}

.glyphicon-time:before {
	content: "\e023";
}

.glyphicon-road:before {
	content: "\e024";
}

.glyphicon-download-alt:before {
	content: "\e025";
}

.glyphicon-download:before {
	content: "\e026";
}

.glyphicon-upload:before {
	content: "\e027";
}

.glyphicon-inbox:before {
	content: "\e028";
}

.glyphicon-play-circle:before {
	content: "\e029";
}

.glyphicon-repeat:before {
	content: "\e030";
}

.glyphicon-refresh:before {
	content: "\e031";
}

.glyphicon-list-alt:before {
	content: "\e032";
}

.glyphicon-flag:before {
	content: "\e034";
}

.glyphicon-headphones:before {
	content: "\e035";
}

.glyphicon-volume-off:before {
	content: "\e036";
}

.glyphicon-volume-down:before {
	content: "\e037";
}

.glyphicon-volume-up:before {
	content: "\e038";
}

.glyphicon-qrcode:before {
	content: "\e039";
}

.glyphicon-barcode:before {
	content: "\e040";
}

.glyphicon-tag:before {
	content: "\e041";
}

.glyphicon-tags:before {
	content: "\e042";
}

.glyphicon-book:before {
	content: "\e043";
}

.glyphicon-print:before {
	content: "\e045";
}

.glyphicon-font:before {
	content: "\e047";
}

.glyphicon-bold:before {
	content: "\e048";
}

.glyphicon-italic:before {
	content: "\e049";
}

.glyphicon-text-height:before {
	content: "\e050";
}

.glyphicon-text-width:before {
	content: "\e051";
}

.glyphicon-align-left:before {
	content: "\e052";
}

.glyphicon-align-center:before {
	content: "\e053";
}

.glyphicon-align-right:before {
	content: "\e054";
}

.glyphicon-align-justify:before {
	content: "\e055";
}

.glyphicon-list:before {
	content: "\e056";
}

.glyphicon-indent-left:before {
	content: "\e057";
}

.glyphicon-indent-right:before {
	content: "\e058";
}

.glyphicon-facetime-video:before {
	content: "\e059";
}

.glyphicon-picture:before {
	content: "\e060";
}

.glyphicon-map-marker:before {
	content: "\e062";
}

.glyphicon-adjust:before {
	content: "\e063";
}

.glyphicon-tint:before {
	content: "\e064";
}

.glyphicon-edit:before {
	content: "\e065";
}

.glyphicon-share:before {
	content: "\e066";
}

.glyphicon-check:before {
	content: "\e067";
}

.glyphicon-move:before {
	content: "\e068";
}

.glyphicon-step-backward:before {
	content: "\e069";
}

.glyphicon-fast-backward:before {
	content: "\e070";
}

.glyphicon-backward:before {
	content: "\e071";
}

.glyphicon-play:before {
	content: "\e072";
}

.glyphicon-pause:before {
	content: "\e073";
}

.glyphicon-stop:before {
	content: "\e074";
}

.glyphicon-forward:before {
	content: "\e075";
}

.glyphicon-fast-forward:before {
	content: "\e076";
}

.glyphicon-step-forward:before {
	content: "\e077";
}

.glyphicon-eject:before {
	content: "\e078";
}

.glyphicon-chevron-left:before {
	content: "\e079";
}

.glyphicon-chevron-right:before {
	content: "\e080";
}

.glyphicon-plus-sign:before {
	content: "\e081";
}

.glyphicon-minus-sign:before {
	content: "\e082";
}

.glyphicon-remove-sign:before {
	content: "\e083";
}

.glyphicon-ok-sign:before {
	content: "\e084";
}

.glyphicon-question-sign:before {
	content: "\e085";
}

.glyphicon-info-sign:before {
	content: "\e086";
}

.glyphicon-screenshot:before {
	content: "\e087";
}

.glyphicon-remove-circle:before {
	content: "\e088";
}

.glyphicon-ok-circle:before {
	content: "\e089";
}

.glyphicon-ban-circle:before {
	content: "\e090";
}

.glyphicon-arrow-left:before {
	content: "\e091";
}

.glyphicon-arrow-right:before {
	content: "\e092";
}

.glyphicon-arrow-up:before {
	content: "\e093";
}

.glyphicon-arrow-down:before {
	content: "\e094";
}

.glyphicon-share-alt:before {
	content: "\e095";
}

.glyphicon-resize-full:before {
	content: "\e096";
}

.glyphicon-resize-small:before {
	content: "\e097";
}

.glyphicon-exclamation-sign:before {
	content: "\e101";
}

.glyphicon-gift:before {
	content: "\e102";
}

.glyphicon-leaf:before {
	content: "\e103";
}

.glyphicon-eye-open:before {
	content: "\e105";
}

.glyphicon-eye-close:before {
	content: "\e106";
}

.glyphicon-warning-sign:before {
	content: "\e107";
}

.glyphicon-plane:before {
	content: "\e108";
}

.glyphicon-random:before {
	content: "\e110";
}

.glyphicon-comment:before {
	content: "\e111";
}

.glyphicon-magnet:before {
	content: "\e112";
}

.glyphicon-chevron-up:before {
	content: "\e113";
}

.glyphicon-chevron-down:before {
	content: "\e114";
}

.glyphicon-retweet:before {
	content: "\e115";
}

.glyphicon-shopping-cart:before {
	content: "\e116";
}

.glyphicon-folder-close:before {
	content: "\e117";
}

.glyphicon-folder-open:before {
	content: "\e118";
}

.glyphicon-resize-vertical:before {
	content: "\e119";
}

.glyphicon-resize-horizontal:before {
	content: "\e120";
}

.glyphicon-hdd:before {
	content: "\e121";
}

.glyphicon-bullhorn:before {
	content: "\e122";
}

.glyphicon-certificate:before {
	content: "\e124";
}

.glyphicon-thumbs-up:before {
	content: "\e125";
}

.glyphicon-thumbs-down:before {
	content: "\e126";
}

.glyphicon-hand-right:before {
	content: "\e127";
}

.glyphicon-hand-left:before {
	content: "\e128";
}

.glyphicon-hand-up:before {
	content: "\e129";
}

.glyphicon-hand-down:before {
	content: "\e130";
}

.glyphicon-circle-arrow-right:before {
	content: "\e131";
}

.glyphicon-circle-arrow-left:before {
	content: "\e132";
}

.glyphicon-circle-arrow-up:before {
	content: "\e133";
}

.glyphicon-circle-arrow-down:before {
	content: "\e134";
}

.glyphicon-globe:before {
	content: "\e135";
}

.glyphicon-tasks:before {
	content: "\e137";
}

.glyphicon-filter:before {
	content: "\e138";
}

.glyphicon-fullscreen:before {
	content: "\e140";
}

.glyphicon-dashboard:before {
	content: "\e141";
}

.glyphicon-heart-empty:before {
	content: "\e143";
}

.glyphicon-link:before {
	content: "\e144";
}

.glyphicon-phone:before {
	content: "\e145";
}

.glyphicon-usd:before {
	content: "\e148";
}

.glyphicon-gbp:before {
	content: "\e149";
}

.glyphicon-sort:before {
	content: "\e150";
}

.glyphicon-sort-by-alphabet:before {
	content: "\e151";
}

.glyphicon-sort-by-alphabet-alt:before {
	content: "\e152";
}

.glyphicon-sort-by-order:before {
	content: "\e153";
}

.glyphicon-sort-by-order-alt:before {
	content: "\e154";
}

.glyphicon-sort-by-attributes:before {
	content: "\e155";
}

.glyphicon-sort-by-attributes-alt:before {
	content: "\e156";
}

.glyphicon-unchecked:before {
	content: "\e157";
}

.glyphicon-expand:before {
	content: "\e158";
}

.glyphicon-collapse-down:before {
	content: "\e159";
}

.glyphicon-collapse-up:before {
	content: "\e160";
}

.glyphicon-log-in:before {
	content: "\e161";
}

.glyphicon-flash:before {
	content: "\e162";
}

.glyphicon-log-out:before {
	content: "\e163";
}

.glyphicon-new-window:before {
	content: "\e164";
}

.glyphicon-record:before {
	content: "\e165";
}

.glyphicon-save:before {
	content: "\e166";
}

.glyphicon-open:before {
	content: "\e167";
}

.glyphicon-saved:before {
	content: "\e168";
}

.glyphicon-import:before {
	content: "\e169";
}

.glyphicon-export:before {
	content: "\e170";
}

.glyphicon-send:before {
	content: "\e171";
}

.glyphicon-floppy-disk:before {
	content: "\e172";
}

.glyphicon-floppy-saved:before {
	content: "\e173";
}

.glyphicon-floppy-remove:before {
	content: "\e174";
}

.glyphicon-floppy-save:before {
	content: "\e175";
}

.glyphicon-floppy-open:before {
	content: "\e176";
}

.glyphicon-credit-card:before {
	content: "\e177";
}

.glyphicon-transfer:before {
	content: "\e178";
}

.glyphicon-cutlery:before {
	content: "\e179";
}

.glyphicon-header:before {
	content: "\e180";
}

.glyphicon-compressed:before {
	content: "\e181";
}

.glyphicon-earphone:before {
	content: "\e182";
}

.glyphicon-phone-alt:before {
	content: "\e183";
}

.glyphicon-tower:before {
	content: "\e184";
}

.glyphicon-stats:before {
	content: "\e185";
}

.glyphicon-sd-video:before {
	content: "\e186";
}

.glyphicon-hd-video:before {
	content: "\e187";
}

.glyphicon-subtitles:before {
	content: "\e188";
}

.glyphicon-sound-stereo:before {
	content: "\e189";
}

.glyphicon-sound-dolby:before {
	content: "\e190";
}

.glyphicon-sound-5-1:before {
	content: "\e191";
}

.glyphicon-sound-6-1:before {
	content: "\e192";
}

.glyphicon-sound-7-1:before {
	content: "\e193";
}

.glyphicon-copyright-mark:before {
	content: "\e194";
}

.glyphicon-registration-mark:before {
	content: "\e195";
}

.glyphicon-cloud-download:before {
	content: "\e197";
}

.glyphicon-cloud-upload:before {
	content: "\e198";
}

.glyphicon-tree-conifer:before {
	content: "\e199";
}

.glyphicon-tree-deciduous:before {
	content: "\e200";
}

.glyphicon-briefcase:before {
	content: "\1f4bc";
}

.glyphicon-calendar:before {
	content: "\1f4c5";
}

.glyphicon-pushpin:before {
	content: "\1f4cc";
}

.glyphicon-paperclip:before {
	content: "\1f4ce";
}

.glyphicon-camera:before {
	content: "\1f4f7";
}

.glyphicon-lock:before {
	content: "\1f512";
}

.glyphicon-bell:before {
	content: "\1f514";
}

.glyphicon-bookmark:before {
	content: "\1f516";
}

.glyphicon-fire:before {
	content: "\1f525";
}

.glyphicon-wrench:before {
	content: "\1f527";
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Barlow", sans-serif;
}

 a.header:after {
	font-family: "Glyphicons Halflings";
	content: "\e114";
	float: right;
	margin-left: 15px;
}

a.header.collapsed:after {
	content: "\e080";
}


body {
	/* overflow-x: hidden; */
}

html {
	scroll-behavior: smooth;
}

.scrollstyle {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
	padding-right: 15px;
	padding-right: 20px;
}

.scrollstyle::-webkit-scrollbar-track {
	background-color: #ffffff;
}

.scrollstyle::-webkit-scrollbar {
	border-radius: 10px;
	width: 7px;
	height: 7px;
	background-color: #000000;
}

.scrollstyle::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #ddd;
}

.scrollstyleHidden::-webkit-scrollbar-track {
	background-color: #ffffff;
}

.scrollstyleHidden::-webkit-scrollbar {
	border-radius: 10px;
	width: 7px;
	height: 7px;
	background-color: #000000;
	display: none;
}

.scrollstyleHidden::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #ddd;
}

.body-background {
	background-image: url("../Images/IMG_Background.jpg");
}
.cal_Theme1 .ajax__calendar_container {
	background-color: #ffffff;
	border: 1px solid #ccc;
	font-size: 12px;
	padding: 0;
	width: 200px;
}

.cal_Theme1 .ajax__calendar_header {
	background-color: #fff;
	margin-bottom: 8px;
	margin-top: 5px;
}

.cal_Theme1 .ajax__calendar_next,
.cal_Theme1 .ajax__calendar_prev,
.cal_Theme1 .ajax__calendar_title {
	color: #004080;
	padding-top: 3px;
	margin-top: 4px;
}

.cal_Theme1 .ajax__calendar_invalid {
	color: red;
}

.cal_Theme1 .ajax__calendar_body {
	background-color: #ffffff;
	border: 0px solid #ccc;
}

.cal_Theme1 .ajax__calendar_dayname {
	text-align: center;
	font-weight: 700;
	margin-bottom: 4px;
	margin-top: 2px;
}

.cal_Theme1 .ajax__calendar_day {
	text-align: center;
	height: 20px;
	width: 25px;
	font-size: 12px;
}

.cal_Theme1 .ajax__calendar_active,
.cal_Theme1 .ajax__calendar_hover .ajax__calendar_day,
.cal_Theme1 .ajax__calendar_hover .ajax__calendar_month,
.cal_Theme1 .ajax__calendar_hover .ajax__calendar_year {
	color: #004080;
	font-weight: 700;
	background-color: #fff;
}

.cal_Theme1 .ajax__calendar_today {
	font-weight: 700;
	padding-top: 8px;
	padding-bottom: 8px;
}

.cal_Theme1 .ajax__calendar_hover .ajax__calendar_title,
.cal_Theme1 .ajax__calendar_hover .ajax__calendar_today,
.cal_Theme1 .ajax__calendar_other {
	color: #bbb;
}

.cal_Theme1 table tr td {
	height: 0;
	width: 0;
	padding: 0 !important;
	margin: 0 !important;
	border-width: 0 !important;
}

.validator {
	font-size: 14px;
	color: red;
	text-align: left;
	position: absolute;
	top: 0px;
	right: 15px;
}

.panelheader {
	padding-top: 10px;
	height: 80px;
	border-bottom: solid #fff 2px;
}

/* .col.panelheader {
	position: sticky;
	top: 0;
	z-index: 3;
	background: #fff;
	margin-left: 10px;
} */

.panelmenu {
	max-width: initial;
	flex: initial;
	height: 100%;
	position: fixed;
	z-index: 1;
	padding: 0px 0px 10px 10px;
	border-right: solid 2px #eee;
	display: initial;
	width: 100%;
}

.card {
	padding: 17px;
	border-radius: 10px;
}

.col-lg-2.panelmenu {
	margin-left: 10px;
	padding-right: 1px;
}

.panelcontent {
	position: fixed;
	z-index: 1;
	height: 100%;
	padding: 0px 10px 0px 0px;
}

.panelfooter {
	position: fixed;
	height: 50px;
	width: 100%;
	bottom: 0;
	margin: 0;
	background-color: white;
	padding: 14px 0px 0px 30px;
}

.panelauthentication {
	display: none;
}

.list-group .panelauthenticationmobile {
	display: initial;
}

.hovermenu:hover {
	background-color: #f3f3f3;
}

.menuapp {
	text-decoration: none !important;
	padding: 0;
	margin: 0;
	font-size: 17px;
	text-transform: initial;
}

.col .iconmenu {
	margin: 15px 15px 0px 10px;
}

.col .iconclose {
	margin: 15px 21px 0px 10px;
}

.btn-rounded {
	border-radius: 10em;
}

.scrollstyle {
	overflow-y: auto;
	height: 100%;
	padding-right: 15px;
	padding-right: 20px;
}

.form-cari {
	border: solid 1px #ccc !important;
	border-radius: 10em !important;
	height: 39px !important;
	margin-top: 6px !important;
}

.header-ys {
	text-align: center;
	background-color: #4285f4 !important;
	color: white;
}

.row-ys td {
	padding: 10px !important;
}

.pagination-ys {
	padding-left: 0;
	margin: 20px 0;
	border-radius: 4px;
}

.pagination-ys tr {
	background-color: transparent !important;
}

.pagination-ys table > tbody > tr > td {
	display: inline;
	border: none;
}

.pagination-ys table > tbody > tr > td > a,
.pagination-ys table > tbody > tr > td > span {
	position: relative;
	float: left;
	padding: 8px 12px;
	line-height: 1.42857143;
	text-decoration: none;
	color: #333;
	background-color: #fff;
	border: 1px solid #ddd;
	margin-left: -1px;
}

.pagination-ys table > tbody > tr > td > span {
	position: relative;
	float: left;
	padding: 8px 12px;
	line-height: 1.42857143;
	text-decoration: none;
	margin-left: -1px;
	z-index: 2;
	color: white;
	background-color: #4285f4;
	border-color: #ddd;
	cursor: default;
}

.pagination-ys table > tbody > tr > td:first-child > a,
.pagination-ys table > tbody > tr > td:first-child > span {
	margin-left: 0;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}

.pagination-ys table > tbody > tr > td:last-child > a,
.pagination-ys table > tbody > tr > td:last-child > span {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}

.pagination-ys table > tbody > tr > td > a:focus,
.pagination-ys table > tbody > tr > td > a:hover,
.pagination-ys table > tbody > tr > td > span:focus,
.pagination-ys table > tbody > tr > td > span:hover {
	color: #333;
	background-color: #eee;
	border-color: #ddd;
}

.buttonradio {
	padding: 8px;
	height: 35px;
	margin: 0;
}

.chip {
	display: inline-block;
	height: 32px;
	padding: 0 12px;
	font-size: 13px;
	font-weight: 500;
	line-height: 32px;
	color: rgba(0, 0, 0, 0.6);
	cursor: pointer;
	background-color: #eceff1;
	border-radius: 16px;
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
	margin: 0px 2px;
}

.close {
	float: right;
	padding-left: 8px;
	font-size: 16px;
	line-height: 32px;
	cursor: pointer;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.contentReimburse {
	position: fixed;
	height: 58px;
	width: 100%;
	bottom: 0;
	background-color: white;
	left: 0;
	padding-top: 16px;
	font-weight: bold;
	color: red;
	z-index: 10;
	font-size: 18px;
	text-align: center;
}

.hidden {
	display: none;
}

.headercard {
	width: 100%;
	padding: 7px 20px;
	background-color: #eee;
	font-weight: bold;
	border-radius: 5px;
}

.shortcut {
	height: 100px;
	width: 100%;
	background-color: white;
	color: black;
	padding: 19px;
	cursor: pointer;
	border-radius: 5px;
	border-left: 5px solid #4285f4;
}

.footerpadding {
	padding: 10px !important;
	vertical-align: middle !important;
}

@media screen and (min-width: 1000px) {
	.body-background {
		background-image: url("../Images/IMG_Background.jpg");
		background-repeat: no-repeat;
		background-size: 100%;
	}

	.scrollstyle {
		overflow-y: auto;
		height: 100%;
		padding-right: 15px;
		padding-right: 20px;
	}

	.panelmenu {
		position: fixed;
		display: block;
		z-index: 1;
		width: 250px;
	}

	.col .panelheader {
		position: sticky;
		top: 0;
		left: 0;
		width: 100%;
	}

	.panelcontentweb {
		padding: 0px 10px 10px 0px;
		z-index: 1;
	}

	.panelauthentication {
		line-height: 1.3em;
		margin: 9px 15px 0px 0px;
		text-align: right;
		display: initial;
		float: right;
	}

	.list-group .panelauthenticationmobile {
		display: none;
	}

	.col .iconmenu {
		margin: 15px 15px 0px -43px;
	}

	.col .iconclose {
		margin: 15px 21px 0px -43px;
	}

	.contentReimburse {
		padding-left: 270px;
	}
}
